In [4]:
a = 10
m= "mayank"

In [2]:
print( " %d is value of a" %a)

 10 is value of a

In [3]:
print( " %d is value of a" %(a))

 10 is value of a

In [11]:
print("name is %s and age is %d" %(m,a))

name is mayank and age is 10

In [6]:
print("name is %d and age is %d" %(m,a))

TypeError: %d format: a real number is required, not str

In [9]:
print("name is %d and age is %d" ,m,a) # syntax not right

name is %d and age is %d mayank 10

In [13]:
print("name is %d and age is %d" %a)

TypeError: not enough arguments for format string

In [14]:
print("name is and age is %i" %a)

name is and age is 10

In [15]:
print("name is and age is %f" %a) ## gonna convert to float

name is and age is 10.000000

In [16]:
print("age1 is %d and age is %i" %(10.0,a)) ## gonna convert to float

age1 is 10 and age is 10

In [17]:
print("age1 is %d and age is %i" %(10.0)) ## gonna convert to float

TypeError: not enough arguments for format string

In [19]:
print("age1 is %s and age is %s" %(10.0,a)) ## gonna convert to string automatically

age1 is 10.0 and age is 10

In [20]:
dec = 10.65365

print(" number is %.2f" %dec)

 number is 10.65

In [21]:
# print("name is %s and age is %d" %(m,a))

name is mayank and age is 10

In [22]:
print("name is {0} and age is {1}".format(m,a))

name is mayank and age is 10

In [23]:
print("name is {0} and age is {0}".format(m,a))

name is mayank and age is mayank

In [34]:
print("name is {} and age is {1}".format(m,a))

ValueError: cannot switch from automatic field numbering to manual field specification

In [25]:
print("name is {3} and age is {1}".format(m,a,1,2,3))

name is 2 and age is 10

# we can go away with indexing in format list and specify exact names for placeholder and there value

In [27]:
m,a

('mayank', 10)

In [29]:
print("name is {name} and age is {age}".format(name= m, age = a))

name is mayank and age is 10

In [31]:
# Order can be changed now.
print("name is {name} and age is {age}".format( age = a,name= m))

name is mayank and age is 10

In [32]:
# everything should be empty and then it will take the order

print("name is {} and age is {}".format(  a, m))

name is 10 and age is mayank

In [35]:
# everything should be empty and then it will take the order

print("name is {} and age is {1}".format(  a, m))

ValueError: cannot switch from automatic field numbering to manual field specification

In [36]:
# everything should be empty and then it will take the order

print("name is {} and age is {age}".format( age= a, m))

SyntaxError: positional argument follows keyword argument (2995373345.py, line 3)

In [37]:
# everything should be empty and then it will take the order

print("name is {} and age is {}".format(  a, m))

name is 10 and age is mayank