In [1]:
x = complex(1,2)

In [2]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

# Load the Iris dataset
iris = load_iris()
X, y = iris.data, iris.target

# Convert to DataFrame for easier manipulation
iris_df = pd.DataFrame(data=X, columns=iris.feature_names)
iris_df['target'] = y

In [54]:
iris_df1= iris_df[0:50]

In [55]:
irisdf2 = iris_df[0:110]

In [58]:
irisdf2['target'].value_counts()

target
0    50
1    50
2    10
Name: count, dtype: int64

In [59]:
# Stratified sampling based on the target variable
train_data, test_data = train_test_split(irisdf2, test_size=0.3,stratify=irisdf2['target'])

In [60]:
test_data['target'].value_counts()

target
0    15
1    15
2     3
Name: count, dtype: int64

In [33]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000