# Logistic Regression with Python

In this notebook, we'll implement logistic regression using only two parameters: the slope (m) and the intercept (c). We'll explain each step in detail.

## Importing Libraries

First, we'll import the necessary libraries.

In [1]:
# Importing necessary libraries
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, log_loss

## Generating a Synthetic Dataset

We'll create a simple binary classification dataset using `make_classification` from Scikit-learn.

In [2]:
# Generating synthetic dataset
X, y = make_classification(n_samples=1000, n_features=2, n_informative=2, n_redundant=0, random_state=42)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## Visualizing the Dataset

Let's visualize the dataset to understand its structure.

In [3]:
# Visualizing the dataset
plt.scatter(X_train[:, 0], X_train[:, 1], c=y_train, cmap='viridis')
plt.title('Training Data')
plt.xlabel('Feature 1')
plt.ylabel('Feature 2')
plt.show()

## Sigmoid Function

The sigmoid function is used to map predictions to probabilities. It is defined as:

\[ \sigma(z) = \frac{1}{1 + e^{-z}} \]

Let's implement the sigmoid function.

In [4]:
# Defining the sigmoid function
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

## Model Parameters

We'll initialize our model parameters: the slope (m) and the intercept (c). For simplicity, we'll start with zero values.

In [5]:
# Initializing model parameters
m = np.zeros(X_train.shape[1])  # Slope (weights)
c = 0  # Intercept (bias)

## Logistic Regression Model

The logistic regression model is defined as:

\[ \hat{y} = \sigma(m \cdot x + c) \]

Where:
- \( \hat{y} \) is the predicted probability
- \( m \) is the slope (weights)
- \( x \) is the input feature
- \( c \) is the intercept (bias)

In [6]:
# Logistic regression model
def predict_proba(X, m, c):
    return sigmoid(np.dot(X, m) + c)

def predict(X, m, c, threshold=0.5):
    return predict_proba(X, m, c) >= threshold

## Cost Function

We'll use the binary cross-entropy loss (also known as log loss) as our cost function. It is defined as:

\[ J(m, c) = - \frac{1}{m} \sum_{i=1}^{m} [y_i \log(\hat{y}_i) + (1 - y_i) \log(1 - \hat{y}_i)] \]

In [7]:
# Cost function (binary cross-entropy loss)
def compute_cost(X, y, m, c):
    m = len(y)
    h = predict_proba(X, m, c)
    cost = (-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h))
    return cost

## Gradient Descent

We'll use gradient descent to optimize our model parameters. The gradients of the cost function with respect to the parameters are:

\[ \frac{\partial J}{\partial m} = \frac{1}{m} \sum_{i=1}^{m} (\hat{y}_i - y_i) x_i \]

\[ \frac{\partial J}{\partial c} = \frac{1}{m} \sum_{i=1}^{m} (\hat{y}_i - y_i) \]

We'll update the parameters using these gradients.

In [8]:
# Gradient descent function
def gradient_descent(X, y, m, c, learning_rate, epochs):
    m = len(y)
    for _ in range(epochs):
        h = predict_proba(X, m, c)
        m_grad = (1 / m) * np.dot(X.T, (h - y))
        c_grad = (1 / m) * np.sum(h - y)
        m -= learning_rate * m_grad
        c -= learning_rate * c_grad
    return m, c

## Training the Model

Let's train our logistic regression model using gradient descent.

In [9]:
# Training the model
learning_rate = 0.01
epochs = 1000

# Initial parameters
m = np.zeros(X_train.shape[1])
c = 0

# Gradient descent
m, c = gradient_descent(X_train, y_train, m, c, learning_rate, epochs)

## Evaluating the Model

We'll evaluate the model using accuracy and log loss on the test set.

In [10]:
# Evaluating the model
y_pred_proba = predict_proba(X_test, m, c)
y_pred = predict(X_test, m, c)

accuracy = accuracy_score(y_test, y_pred)
loss = log_loss(y_test, y_pred_proba)

print(f"Accuracy: {accuracy * 100:.2f}%")
print(f"Log Loss: {loss:.4f}")

## Visualizing the Decision Boundary

We'll visualize the decision boundary of our logistic regression model.

In [11]:
# Visualizing the decision boundary
x_min, x_max = X_train[:, 0].min() - 1, X_train[:, 0].max() + 1
y_min, y_max = X_train[:, 1].min() - 1, X_train[:, 1].max() + 1
xx, yy = np.meshgrid(np.arange(x_min, x_max, 0.01), np.arange(y_min, y_max, 0.01))

Z = predict(np.c_[xx.ravel(), yy.ravel()], m, c)
Z = Z.reshape(xx.shape)

plt.contourf(xx, yy, Z, alpha=0.8, cmap='viridis')
plt.scatter(X_train[:, 0], X_train[:, 1], c=y_train, edgecolors='k', marker='o', cmap='viridis')
plt.title('Decision Boundary')
plt.xlabel('Feature 1')
plt.ylabel('Feature 2')
plt.show()

## Conclusion

In this notebook, we've implemented logistic regression using only the slope (m) and intercept (c). We've covered the following steps:

1. Generated a synthetic dataset.
2. Visualized the dataset.
3. Defined the sigmoid function.
4. Initialized model parameters.
5. Implemented the logistic regression model.
6. Defined the cost function.
7. Implemented gradient descent.
8. Trained the model.
9. Evaluated the model.
10. Visualized the decision boundary.

This should give you a solid understanding of how logistic regression works at a fundamental level.

In [3]:
import datetime

datetime.datetime.now()

datetime.datetime(2024, 7, 13, 16, 37, 43, 709741)

In [7]:
# Till 4:47 on break

In [26]:
import seaborn as sns
import pandas as pd

titanic = sns.load_dataset('titanic')

In [18]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [34]:
pd.crosstab(titanic['pclass'],titanic['alive'])

alive    no  yes
pclass
1        80  136
2        97   87
3       372  119