# For Loop with Else Statement

In [29]:
for i in range(0,4):
    print (i)
else :
    print("Loop Complete")

0
1
2
3
Loop Complete

In [28]:
for i in range(0,4):
    print (i)

print("Loop Complete")

0
1
2
3
Loop Complete

In [13]:

for i in range(0,4):
    print (i)
else :
    print("I am out")

0
1
2
3
I am out

In [23]:
val = 100;

for i in range(0,4):
    print("value of i is : "+ str(i))
    if(i==2):
        print(" I got here as i ==2")
        val =200
        break
else:
    val = 300
    print("Loop Complete")
    

print(" i am here now : " + str(val))

value of i is : 0
value of i is : 1
value of i is : 2
 I got here as i ==2
 i am here now : 200

In [24]:
for i in range(1,5,2):
    print ("Hello World")
else:
    print("Loop Complete ")

Hello World
Hello World
Loop Complete

In [19]:
for char in "mayank":
    print(char)

m
a
y
a
n
k

In [26]:
val = 100;

for i in range(0,4):
    # print("value of i is : "+ str(i))
    if(i==2):
        print(" I got here as i ==2")
        val =200
        # break
        continue
    else :
        print("I am in the else")
    print("value of i is : "+ str(i))
else:
    val = 300
    print("Loop Complete")
    

print(" i am here now : " + str(val))

value of i is : 0
value of i is : 1
 I got here as i ==2
value of i is : 3
Loop Complete
 i am here now : 300

In [ ]:



if ( a >b):
    print("yo1")
    print("yo1")
    print("yo1")
    print("yo1")
    print("yo1")
    else:  #1
else: #2
    
    
    
for i in range(1,5):
    print("yo1")
    print("yo1")
    print("yo1")
    print("yo1")
    print("yo1")
    else:
else:

In [27]:
val = 100;

for i in range(0,4):
    # print("value of i is : "+ str(i))
    if(i==2):
        print(" I got here as i ==2")
        val =200
        # break
        continue
    else :
        print("I am in the else")
    print("value of i is : "+ str(i))
else:
    val = 300
    print("Loop Complete")
    

print(" i am here now : " + str(val))

I am in the else
value of i is : 0
I am in the else
value of i is : 1
 I got here as i ==2
I am in the else
value of i is : 3
Loop Complete
 i am here now : 300

# Nested Loops

In [39]:
i = 0


while i<3:
    
    j = 0
    while j<3:
        print("i is " + str(i),end = " ")
        print(" j is " + str(j))
        j = j+1
    # print("j is " + str(j))
    i = i+1

i is 0  j is 0
i is 0  j is 1
i is 0  j is 2
i is 1  j is 0
i is 1  j is 1
i is 1  j is 2
i is 2  j is 0
i is 2  j is 1
i is 2  j is 2

In [40]:

for i in range(0,3):
    for j in range(0,3):
        print("i is " + str(i),end = " ")
        print(" j is " + str(j))

i is 0  j is 0
i is 0  j is 1
i is 0  j is 2
i is 1  j is 0
i is 1  j is 1
i is 1  j is 2
i is 2  j is 0
i is 2  j is 1
i is 2  j is 2

In [ ]:
"""
***
***
***
"""

In [47]:

for i in range(0,3):
    for j in range(0,3):
        print ("*",end="")
    print()

    
print("Loop complete")

***
***
***
Loop complete

In [48]:
for i in range(0,3):
    print("***")

***
***
***

In [ ]:
"""

*
**
***
****

"""

In [50]:
for i in range(4):
    print("*" * (i+1))

*
**
***
****

In [ ]:
"""


****
***
**
*

"""

In [2]:
for i in range(4):
    j =0
    while j<4-i:
        print("*",end='')
        j=j+1
    print()

****
***
**
*

In [52]:
for i in range(4,0,-1):
    print("*" * (i))

****
***
**
*

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1897127168.py, line 1)

In [ ]:
"""
1 
2 1 
3 2 1 
4 3 2 1 
5 4 3 2 1
"""

In [6]:
a = int(input())
for i in range(a+1):
    for j in range(i):
        print(i-j,end=" ")
    print()

 5

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [7]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
"""
1 

1 2 1 

1 2 3 2 1 

1 2 3 4 3 2 1 

1 2 3 4 5 4 3 2 1

"""

In [8]:
def print_pattern(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(j, end=" ")
        for j in range(i - 1, 0, -1):
            print(j, end=" ")
        print()
print_pattern(5)

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
"""
0  
0 1  

0 2 4  

0 3 6 9  

0 4 8 12 16  

0 5 10 15 20 25  

0 6 12 18 24 30 36
"""

In [ ]:
"""
        * * * * * * 

         * * * * * 

          * * * * 

           * * * 

            * * 

             * 
"""

In [ ]:
""" 

****
  *
 *
****

"""

In [19]:
n =10
for i in range(n):
    for j in range(n):
        if ( i==0 or i==n-1):
            print("*",end="")
        elif (i + j == n-1):
            print("*",end="")
        else :
            print(" ",end="")
    print()

**********
        *
       *
      *
     *
    *
   *
  *
 *
**********

In [ ]:
# i am a single line comments


# i am a single to multi
# line comment

In [ ]:
"""
I am. a real multi f
line co
mment
"""